@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 16px;
  background-color: #8408f9;
  color: white;
}
a {
  color: white;
}
.container {
  max-width: 750px;
  width: 100%;
  height: 100vh;
  padding: 10px;
  position: relative;
}
.main-chat {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.chat-header {
  border-bottom: 1px solid white;
}
.chat-header h1 {
  font-size: 30px;
  text-align: center;
}
.chat-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 5px 10px;
  position: absolute;
  bottom: 6px;
  left: 0;
  right: 0;
}
.chat-footer input {
  width: 90%;
  border-radius: 10px;
  background: none;
  border: 1px solid white;
  color: white;
  background-color: #8408f9;
  padding: 10px;
  font-size: 16px;
  outline: none;
  font-family: "Poppins", sans-serif;
}
.chat-footer input::placeholder {
  color: #bcbbbb;
}
.chat-footer button {
  border-radius: 50%;
  width: 50px;
  height: 50px;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  color: white;
  font-size: 22px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow:
    0 4px 30px rgba(0, 0, 0, 0.1),
    inset 0 0 8px rgba(255, 255, 255, 0.2);
}

.chat-footer button:active {
  transform: scale(0.95);
}
.chat {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  height: 86%;
  padding: 10px;
  scrollbar-width: none;
  margin-bottom: 40px;
  position: relative;
}
.main-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 380px;
  width: 100%;
}

.user-msg {
  background-color: #300a4a2f;
  color: white;
  padding: 10px 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  max-width: 90%;
  margin: 5px 0;
  align-self: flex-end;
  word-wrap: break-word;
}
.ai-msg {
  color: white;
  border-radius: 15px;
  margin: 5px 0;
  padding: 15px;
  align-self: flex-start;
  word-wrap: break-word;
  max-width: 100%;
}
.show-aimsg {
  animation: shkale 0.5s ease-in-out;
}
.ai-msg pre {
  background-color: #3f0b99;
  color: #f8f8f2;
  padding: 10px;
  border-radius: 6px;
  overflow-x: auto;
  scrollbar-width: none;
  max-width: 100%;
  margin-top: 10px;
  padding-top: 40px;
}
.code-wrapper {
  position: relative;
}
.copy-btn {
  background-color: #6c39c4;
  color: white;
  font-size: 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  padding: 4px 10px;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 10;
}

@keyframes shkale {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.active-user {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 20px;
  position: absolute;
}
.animation-onlinne {
  width: 13px;
  height: 13px;
  background-color: rgb(5, 206, 5);
  border-radius: 50%;
  animation: scale 2s infinite ease-in-out;
  margin-top: 3px;
  margin-right: 7px;
}
@keyframes scale {
  0% {
    transform: scale(0.4);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.4);
  }
}
#online-user {
  font-size: 18px;
  font-weight: 600;
}
@media only screen and (max-width: 768px) {
  .chat-footer input {
    width: 86%;
  }
}
